@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$bp-xs-320: 320px;
$bp-sm-395: 395px;
$bp-md-495: 495px;
$bp-lg-600: 600px;
$bp-xl-800: 800px;
$bp-2xl-900: 900px;
$bp-3xl-1100: 1100px;
$bp-4xl-1200: 1200px;
$bp-5xl-1400: 1400px;
$bp-6xl-1800: 1800px;

$color-gradient: linear-gradient(to right, #4247a2 0%, #52b095 100%);
$color-gradient-font: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
$color-background-female: #fdefef;
$color-font-h2-female:
    linear-gradient(
        90deg,
        rgba(249, 1, 111, 0.54) 0%,
        rgba(147, 8, 133, 0.619615) 41.83%,
        rgba(208, 56, 170, 0.754793) 70.19%,
        #851c87 100%
    );
$color-background-male: #f8f9fa;
$color-font-h2-male:
    linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(90deg, #3373d2 16.04%, #6f95c7 33.14%, #7bb5f5 54.51%, #0074ee 68.5%, #5ea7ef 87.02%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

header {
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-color: #ffffff;

    @media (min-width: $bp-2xl-900) {
        background-image: url("./img/bannerHeader.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
    }
    
    @media (min-width: $bp-5xl-1400) {
        min-height: 90vh;
    }

    .box-header {
        margin-top: 15px;
        width: 95%;
        height: 8vh;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $color-gradient;
        padding: 0 10px;

        @media (min-width: $bp-lg-600) {
            margin-top: 30px;
            width: 90%;
            height: 7vh;
        }

        img {
            margin-left: 1rem;
            height: 60%;

            @media (min-width: $bp-lg-600) {
                height: 80%;
                margin-left: 2rem;
            }
            
            @media (min-width: $bp-xl-800) {
                margin-left: 4rem;
            }
        }

        nav {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            @media (min-width: $bp-xl-800) {
                width: 40%;
            }

            a {
                color: #fff;
                font-family: "Roboto", sans-serif;
                font-size: 0.7rem;

                @media (min-width: $bp-sm-395) {
                    font-size: 0.8rem;
                }

                @media (min-width: $bp-lg-600) {
                    font-size: 1rem;
                }
                
                @media (min-width: $bp-4xl-1200) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.box-banner {
    width: 95vw;
    height: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: $bp-2xl-900) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 90vw;
        height: 80vh;
        text-align: left;
    }

    .box-titulo {
        height: auto;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 0;

        @media (min-width: $bp-lg-600) {
            width: 70vw;
        }

        @media (min-width: $bp-2xl-900) {
            width: 50vw;
            height: 50vh;
        }

        @media (min-width: $bp-3xl-1100) {
            width: 45vw;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: bold;
            background: $color-gradient-font;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            line-height: 1.1;

            @media (min-width: $bp-sm-395) {
                font-size: 3rem;
            }

            @media (min-width: $bp-xl-800) {
                font-size: 4rem;
            }

            @media (min-width: $bp-4xl-1200) {
                font-size: 5.5rem;
            }
        }

        .box-paragrafo {
            width: 100%;
            margin-bottom: 20px;

            @media (min-width: $bp-xl-800) {
                width: 70%;
            }
            
            @media (min-width: $bp-2xl-900) {
                width: 100%;
            }

            p {
                font-size: 1.2rem;

                @media (min-width: $bp-sm-395) {
                    font-size: 1.5rem;
                }

                @media (min-width: $bp-xl-800) {
                    font-size: 2rem;
                }

                @media (min-width: $bp-4xl-1200) {
                    font-size: 3rem;
                }
            }
        }

        .box-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;

            @media (min-width: $bp-md-495) {
                flex-direction: row;
                justify-content: center;
            }
            
            @media (min-width: $bp-2xl-900) {
                justify-content: flex-start;
            }

            button {
                border-radius: 10px;
                cursor: pointer;
                padding: 1rem 2rem;
                margin: 5px 0;
                width: 90%;

                @media (min-width: $bp-md-495) {
                    width: auto;
                    margin: 0 10px;
                }
            }

            #btn-azul {
                background-color: #1173d4;
                color: #ffffff;
                font-size: 1rem;
                border: none;

                &:hover {
                    background-color: #499df1;
                }

                @media (min-width: $bp-md-495) {
                    font-size: 1.2rem;
                }

                @media (min-width: $bp-4xl-1200) {
                    font-size: 1.5rem;
                }
            }

            #btn-branco {
                border: #1173d4 1px solid;
                background: none;
                font-size: 1rem;
                color: #1173d4;

                &:hover {
                    background-color: #d5e5f5;
                }
                
                @media (min-width: $bp-md-495) {
                    font-size: 1.2rem;
                }

                @media (min-width: $bp-4xl-1200) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

main {
    .box-content-main {
        height: auto;
        padding: 40px 20px;
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            font-weight: bold;
            background: $color-gradient-font;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            font-size: 2.5rem;
            padding: 1rem 0 1rem 0;

            @media (min-width: $bp-xl-800) {
                font-size: 4rem;
            }
            
            @media (min-width: $bp-4xl-1200) {
                font-size: 5.5rem;
            }
        }

        p {
            font-size: 1rem;
            max-width: 90%;
            padding: 1rem 0 2rem 0;

            @media (min-width: $bp-lg-600) {
                font-size: 1.5rem;
            }

            @media (min-width: $bp-4xl-1200) {
                font-size: 2rem;
            }
        }

        .box-content-main-cards {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0;

            @media (min-width: $bp-xl-800) {
                flex-direction: row;
                justify-content: space-evenly;
            }

            .box-content-main-cards-card {
                width: 90%;
                height: auto;
                box-shadow: 1px 0px 10px 10px rgba(204, 202, 202, 0.5);
                border: none;
                border-radius: 15px;
                padding: 1.5rem 0;
                margin-bottom: 20px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                @media (min-width: $bp-xl-800) {
                    width: 30%;
                    height: 65%;
                    margin-bottom: 0;
                }
                
                @media (min-width: $bp-3xl-1100) {
                    width: 22%;
                }

                img {
                    width: 25%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;

                    @media (min-width: $bp-xl-800) {
                        width: 15%;
                    }
                }

                h3 {
                    font-size: 1.2rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;

                    @media (min-width: $bp-xl-800) {
                        font-size: 1.8rem;
                    }
                }

                p {
                    font-size: 0.9rem;
                    padding: 0 1rem;
                    max-width: 90%;
                    
                    @media (min-width: $bp-xl-800) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .box-content-female,
    .box-content-male {
        height: auto;
        padding: 40px 20px;

        h2 {
            font-weight: bold;
            text-align: center;
            font-size: 2.5rem;
            padding: 1.5rem 0 4rem 0;

            @media (min-width: $bp-xl-800) {
                font-size: 4rem;
            }
            
            @media (min-width: $bp-4xl-1200) {
                font-size: 5.5rem;
            }
        }

        .box-content-cards {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;

            @media (min-width: $bp-lg-600) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
            
            @media (min-width: $bp-3xl-1100) {
                flex-wrap: nowrap;
            }

            .box-card {
                margin-bottom: 2rem;
                border-radius: 10px;
                box-shadow: 1px 0px 10px 10px rgba(204, 202, 202, 0.5);
                
                /* INÍCIO DO AJUSTE: Altura Mínima para uniformidade */
                min-height: 400px;
                height: auto;
                
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                @media (min-width: $bp-sm-395) {
                    width: 80%;
                }

                @media (min-width: $bp-lg-600) {
                    width: 45%;
                    min-height: 450px; /* Aumenta a altura mínima para telas maiores */
                }
                
                @media (min-width: $bp-3xl-1100) {
                    width: 30%;
                }
                
                @media (min-width: $bp-4xl-1200) {
                    width: 15%;
                    min-height: 500px; /* Altura ideal para desktop com mais cards por linha */
                }

                img {
                    width: 30%;
                    margin-top: 1.5rem;
                }

                h3 {
                    font-size: 1.2rem;
                    margin-top: 1rem;
                    
                    @media (min-width: $bp-lg-600) {
                        font-size: 1.5rem;
                    }
                }

                .div-ul {
                    width: 90%;
                    height: auto;
                    margin-top: 1rem;
                    padding: 0.5rem 1rem 0.5rem 1rem;

                    li {
                        font-size: 1rem;
                        margin-top: 0.5rem;
                        padding: 0.5rem  0.5rem 1rem;
                        text-align: justify;
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .box-content-female {
        background: $color-background-female;
        h2 {
            background: $color-font-h2-female;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }
    }
    
    .box-content-male {
        background-color: $color-background-male;
        h2 {
            background: $color-font-h2-male;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }
    }

    .box-alerts{
        height: auto;
        width: 100%;
        padding: 40px 20px;

        h2 {
            font-weight: bold;
            text-align: center;
            font-size: 2.5rem;
            padding: 1.5rem 0 4rem 0;

            background: $color-gradient-font;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            

            @media (min-width: $bp-xl-800) {
                font-size: 4rem;
            }
            
            @media (min-width: $bp-4xl-1200) {
                font-size: 5.5rem;
            }
        }

        .box-alerts-cards{
            width: 80%;
            height: auto;
            margin: auto;

            .box-alerts-h{
                width: 100%;
                height: 18rem;

                display: flex;
                justify-content: space-between;


                .alert-card{
                    width: 38%;
                    margin: 1.5rem 2rem 1.5rem 2rem;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: justify;
                    padding: 1rem 5rem 1rem 3rem;
                    border-radius: 10px;
                    

                    .alert-card-title{
                        display: flex;
                        padding: 1rem 0 0 2rem;
                        align-items: center;
                        margin-bottom: 1.5rem;

                        img{
                            width: 7%;
                            margin-right: 1rem;
                        }

                        h3{
                            font-size: 1.8rem;
                        }
                    }

                    p{
                        font-size: 1.5rem;
                    }
                }
            }

            #coracao{
                background: #F9D5E5;
                color: #AD346A;
            }

            #escudo{
                background: #CFE2F3;
                color: #2769A3;
            }

            #vacina{
                background: #D4EDDA;
                color: #244A2D;
            }

            #cerebro{
                background: #FFE9C2;
                color: #976C00;
            }
        }
    }
}