@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$color-gradient: linear-gradient(to right, #4247a2 0%, #52b095 100%);
$color-gradient-font: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
$color-background-female: #fdefef;
$color-font-h2-female: linear-gradient(
    90deg,
    rgba(249, 1, 111, 0.54) 0%,
    rgba(147, 8, 133, 0.619615) 41.83%,
    rgba(208, 56, 170, 0.754793) 70.19%,
    #851c87 100%
);
$color-background-male: #fdefef;
$color-font-h2-male:
    linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(90deg, #3373d2 16.04%, #6f95c7 33.14%, #7bb5f5 54.51%, #0074ee 68.5%, #5ea7ef 87.02%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./img/bannerHeader.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 1000px) {
        height: 70vh;
        background-image: none;
    }

    @media (max-width: 395px) {
        height: 70vh;
        background-image: none;
    }

    .box-header {
        margin-top: 30px;
        width: 90%;
        height: 7vh;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $color-gradient;

        @media (max-width: 1000px) {
            height: 5vh;
        }

        @media (max-width: 395px) {
            height: 4vh;
        }

        img {
            margin-left: 4rem;
            height: 80%;

            @media (max-width: 1000px) {
                height: 50%;
                margin-left: 1rem;
            }

            @media (max-width: 395px) {
                height: 50%;
                margin-left: 1rem;
            }
        }

        nav {
            width: 40%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @media (max-width: 1000px) {
                width: 100%;
            }

            @media (max-width: 395px) {
                width: 100%;
            }

            a {
                color: #fff;
                font-family: "Roboto", sans-serif;
                font-size: 1.5rem;

                @media (max-width: 1200px) {
                    font-size: 1rem;
                }

                @media (max-width: 395px) {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

.box-banner {
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100vw;
    }

    .box-titulo {
        height: 50vh;
        width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (max-width: 1200px) {
            width: 100vw;
        }

        @media (max-width: 395px) {
            width: 95vw;
        }

        h2 {
            font-size: 5.5rem;
            font-weight: bold;
            background: $color-gradient-font;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;

            @media (max-width: 1200px) {
                font-size: 4rem;
            }

            @media (max-width: 1400px) {
                font-size: 4rem;
            }

            @media (max-width: 800px) {
                font-size: 3rem;
            }

            @media (max-width: 395px) {
                font-size: 3rem;
            }
        }

        .box-paragrafo {
            width: 70%;

            @media (max-width: 1000px) {
                width: 100%;
            }

            @media (max-width: 395px) {
                width: 100%;
            }

            p {
                font-size: 3rem;

                @media (max-width: 1200px) {
                    font-size: 1.5rem;
                    width: 100%;
                }

                @media (max-width: 1400px) {
                    font-size: 2rem;
                }

                @media (max-width: 800px) {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }

        .box-button {
            display: flex;
            justify-content: flex-start;
            height: 12%;
            text-align: center;

            @media (max-width: 1000px) {
                justify-content: center;
            }

            button {
                border-radius: 10px;
                cursor: pointer;
            }

            #btn-azul {
                background-color: #1173d4;
                color: #ffffff;
                width: 30rem;
                font-size: 1.5rem;
                padding: 1rem;
                margin-right: 3rem;
                border: none;

                &:hover {
                    background-color: #499df1;
                }

                @media (max-width: 1200px) {
                    width: 15rem;
                    font-size: 1rem;
                }

                @media (max-width: 1400px) {
                    font-size: 1rem;
                }

                @media (max-width: 800px) {
                    font-size: 0.8rem;
                }

                @media (max-width: 395px) {
                    font-size: 0.7rem;
                }

                @media (max-width: 320px) {
                    font-size: 0.6rem;
                    padding-bottom: 1.5rem;
                    margin-top: 1rem;
                }
            }

            #btn-branco {
                width: 20rem;
                border: #1173d4 1px solid;
                background: none;
                font-size: 1.5rem;
                color: #1173d4;

                &:hover {
                    background-color: #d5e5f5;
                }

                @media (max-width: 1200px) {
                    width: 10rem;
                    font-size: 1rem;
                }

                @media (max-width: 1400px) {
                    font-size: 1rem;
                }

                @media (max-width: 800px) {
                    font-size: 0.8rem;
                }

                @media (max-width: 395px) {
                    font-size: 0.7rem;
                }

                @media (max-width: 320px) {
                    font-size: 0.6rem;
                    margin-top: 1rem;
                    width: 15rem;
                    height: 2rem;
                    padding: 1rem 0 1rem 0;
                }
            }
        }
    }
}

main {
    .box-content-main {
        height: 40vw;
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            font-weight: bold;
            background: $color-gradient-font;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            font-size: 5.5rem;
            padding: 2rem 0 2rem 0;

            @media (max-width: 395px) {
                font-size: 2.8rem;
            }
        }

        p {
            font-size: 3rem;
            max-width: 85%;
            padding: 2rem 0 2rem 0;

            @media (max-width: 395px) {
                font-size: 1rem;
            }
        }

        .box-content-main-cards {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @media (max-width: 395px) {
                flex-direction: column;
                height: 100%;
            }

            .box-content-main-cards-card {
                width: 22%;
                height: 65%;
                box-shadow: 1px 0px 10px 10px rgba(204, 202, 202, 0.5);
                border: none;
                border-radius: 15px;
                padding: 1rem 0 2rem 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                img {
                    width: 15%;
                    padding-top: 2rem;
                    padding-bottom: 1.5rem;
                }

                h3 {
                    font-size: 2rem;
                    padding-top: 2rem;
                    padding-bottom: 1.5rem;
                }

                p {
                    font-size: 1.8rem;
                    padding-top: 2rem;
                    padding-bottom: 1.5rem;
                }
            }
        }
    }

    .box-content-female {
        height: 100vh;
        background: $color-background-female;

        h2 {
            font-weight: bold;
            background: $color-font-h2-female;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            text-align: center;
            font-size: 5.5rem;
            padding: 2.5rem 0 2.5rem 0;
        }

        .box-content-cards {
            width: 100%;
            height: 40%;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .box-card {
                border: none;
                border-radius: 10px;
                box-shadow: 1px 0px 10px 10px rgba(204, 202, 202, 0.5);
                height: 95%;
                width: 15%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                img {
                    width: 30%;
                    margin-top: 1.5rem;
                }

                h3 {
                    font-size: 1.5rem;
                    margin-top: 1rem;
                }

                .div-ul {
                    width: 80%;
                    height: 0.1rem;
                    margin-top: 1rem;

                    li {
                        font-size: 1rem;
                        margin-top: 1rem;
                        padding-bottom: 0.5rem;
                        text-align: justify;
                        width: 80%;
                        margin: auto;
                    }
                }
            }
        }
    }

    .box-content-male {
        background-color: #f8f9fa;
        height: 100vh;

        h2 {
            font-weight: bold;
            background: $color-font-h2-male;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            text-align: center;
            font-size: 5.5rem;
            padding: 2.5rem 0 2.5rem 0;
        }

        .box-content-cards {
            width: 100%;
            height: 40%;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .box-card {
                margin-bottom: 2rem;
                border-radius: 10px;
                box-shadow: 1px 0px 10px 10px rgba(204, 202, 202, 0.5);
                height: 90%;
                width: 15%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                img {
                    width: 30%;
                    margin-top: 1.5rem;
                }

                h3 {
                    font-size: 1.5rem;
                    margin-top: 1rem;
                }

                .div-ul {
                    width: 80%;
                    height: 0.1rem;
                    margin-top: 1rem;

                    li {
                        font-size: 1rem;
                        margin-top: 1rem;
                        padding-bottom: 0.5rem;
                        text-align: justify;
                        width: 80%;
                        margin: auto;
                    }
                }
            }
        }
    }
}
